{# Business header for printed documents - included in base.html and invoice_print.html #}
<div class="print-business-header">
    <div class="print-header-left">
        <div class="print-hebrew-name">לומדות</div>
        <div class="print-english-name">Lomdos</div>
        <div class="print-english-subtitle">Seforim &amp; Books</div>
    </div>
    <div class="print-header-right">
        <div>23 Troman Ave. Apt 316</div>
        <div>Spring Valley, NY 10977</div>
        <div class="print-phone">845-445-9166</div>
        <div>cadschwartz@gmail.com</div>
    </div>
</div>
